# Visual Studio 2015 cache/options directory
.vs/
.idea/
build/
_Build/vscode-clang/
_Build/
cmake-build-debug/
_PipelineCache/
_SaveData/
_perf_*.log
_perf_*.csv
run_astro_profile.ps1
kyty_settings.ini
thread-dump-*.txt
_dump_*/
*.bin
pipeline-stats-*.txt
